body{
    background-image: url("https://www.google.es/url?sa=i&url=https%3A%2F%2Fes.pikbest.com%2Fbackgrounds%2Fbrick-wall-texture-background-light-colored-surface-a-captivating-and_9922613.html&psig=AOvVaw2YPVowmXsPWMATfLxfH7vP&ust=1747073309071000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNChr7KBnI0DFQAAAAAdAAAAABAE");
    background-attachment: fixed;
    text-align: center;
}

div:first-of-type{
    box-sizing: border-box;
    padding-bottom: 200px;
    background-image: url("https://www.google.es/url?sa=i&url=https%3A%2F%2F1000logos.net%2Fhogwarts-logo%2F&psig=AOvVaw1_Pe2FtQZRbqt_uXEuBYp9&ust=1747073125828000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCOD1uNuAnI0DFQAAAAAdAAAAABAE");
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
}

div:not(:first-of-type){
    box-sizing: border-box;
    background-image: url("https://www.google.es/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fes%2Ffotos%2Ftextura-madera-oscura&psig=AOvVaw31pFHXMAwhL213ujbI3X7f&ust=1747073174414000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCODJ1fKAnI0DFQAAAAAdAAAAABAE");
    width: 300px;
    height: 270px;
    margin: 2%;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 10px 10px 40px black;
}
div:not(:first-of-type):hover{
    opacity: 0.5;
    transition-duration: 800ms;
}

div:not(:first-of-type):active{
    transition: 800ms;
}

article{
    box-sizing: content-box;
    background-color: rgb(255, 240, 158);
    border-radius: 20px;
    width: 250px;
    height: 220px;
    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-left: 22px;
    padding-bottom: 3px;
    box-shadow: 10px 10px 40px black inset;
}

h2 span::before{
    content: url("https://www.google.es/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fes%2Fsearch%2Fdedo-indice-hacia-la-derecha%3Fimage_type%3Dvector&psig=AOvVaw1PjkmPJV6SvmxvdbvYiI5Q&ust=1747073228824000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCMijwIyBnI0DFQAAAAAdAAAAABAE");
}

div:not(:first-of-type)::first-letter, h2 span{
    color: red;
}

